<header
    class="bg-[#00050A] sticky top-0 z-[100] h-header items-center flex justify-between xl:px-[4.5rem] px-[0.5rem] md:px-[1.2rem]">
    <div class="flex group lg:w-[60%] md:w-[50%] items-center">
      <!-- Logo -->
      <div class="flex justify-center items-center">
        <!-- <img class="h-6" src="img/Sentient logo white-01.png" alt="Logo" /> -->
        <img class="w-[176px] h-[49.7px]" src="/img/Sentient logo white-01.png" alt="Logo" />
      </div>

      <!-- Menu Items -->
      <nav class="md:w-[40%] w-auto hidden space-x-6 xl:flex menu-item-header ml-10 font-medium text-header-gray">
        <div class="relative">
          <div class="dropdown relative inline-block cursor-pointer">
            <button
              class="text-[#BEC7D0] hover:text-white cursor-pointer hover:transition hover:duration-300 my-6">Platform</button>
            <div
              class="dropdown-content absolute bg-gradient-to-r from-white via-white via-70% to-[#2F343F] to-70% bg-no-repeat bg-cover shadow-2xl z-1 rounded-2xl w-[1045px] font-normal -left-[280px]">
              <div class="w-3 h-3 rotate-45 bg-white relative -top-[6px] left-[305px]"></div>
              <div class="flex px-[48px] pt-[32px] pb-[44px] w-full">
                <div class="w-[166px]">
                  <h2 class="text-black font-extrabold"><a class="no-underline"
                      href="/platform_sub_page/build_deploy.html">BUILD & DEPLOY</a></h2>
                  <div class="mt-4 text-black leading-9">
                    <a class="block no-underline hover:text-[#9FE870]" href="#">Data
                      Modeling</a>
                    <a class="block no-underline hover:text-[#9FE870]" href="#">Model
                      Optimisation</a>
                    <a class="block no-underline hover:text-[#9FE870]" href="#">Integrate &
                      Chain APIs</a>
                    <a class="block no-underline hover:text-[#9FE870]" href="#">Measure
                      ROI</a>
                    <a class="block no-underline hover:text-[#9FE870]" href="#">Cost
                      Reduction</a>
                  </div>
                </div>
                <div class="ml-[95px] mr-[47.5px] w-[119px]">
                  <h2 class="text-black font-extrabold text-base"><a class="no-underline"
                      href="/platform_sub_page/collaborate.html">COLLABORATE</a></h2>
                  <div class="mt-4 text-black hover:text-[#9FE870] leading-9">
                    <a class="block no-underline" href="#">TeamSpaces</a>
                  </div>
                </div>
                <div class="ml-[47.5px] w-[169px]">
                  <h2 class="text-black font-extrabold"><a class="no-underline"
                      href="/platform_sub_page/ml_workflows.html">ML WORKFLOWS</a></h2>
                  <div class="mt-4 text-black leading-9">
                    <a class="block no-underline hover:text-[#9FE870]" href="#">Multi-cloud
                      Workflows</a>
                    <a class="block no-underline hover:text-[#9FE870]" href="#">Edge
                      Computing</a>
                    <a class="block no-underline hover:text-[#9FE870]" href="#">Secure
                      Deployments</a>
                    <a class="block no-underline" href="#">Analytics</a>
                  </div>
                </div>
                <div class="pl-[68px]">
                  <div class="">
                    <h2 class="text-white text-xl font-bold"><a class="no-underline"
                        href="/platform_sub_page/ml_workflows.html">Our Microservices</a></h2>
                    <div class="mt-1 text-white leading-9 font-light">
                      <a class="block no-underline hover:text-[#9FE870]" href="#">Object Detection</a>
                      <a class="block no-underline hover:text-[#9FE870]" href="#">Automatic Speech Recognition</a>
                      <a class="block no-underline hover:text-[#9FE870]" href="#">Text-to-Speech</a>
                    </div>
                    <div class="text-white mt-[60px] flex items-center">
                      <a>View More</a>
                      <i class="fa fa-angle-right ml-2 md:text-base hover:text-[#9FE870]"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="relative">
          <div class="dropdown relative inline-block cursor-pointer">
            <button
              class="text-[#BEC7D0] hover:text-white cursor-pointer hover:transition hover:duration-300 my-6">Solutions</button>
            <div
              class="dropdown-content absolute bg-gradient-to-r from-white via-white via-65% to-[#2F343F] to-65% bg-no-repeat bg-cover shadow-2xl z-1 rounded-2xl w-[843px] font-normal -left-[280px]">
              <div class="w-3 h-3 rotate-45 bg-white relative -top-[6px] left-[305px]"></div>
              <div class="flex pl-[48px] pt-[32px] pb-[44px] w-full">
                <div class="w-[200px]">
                  <h2 class="text-black font-extrabold"><a class="no-underline"
                      href="/platform_sub_page/build_deploy.html">INDUSTRY SOLUTIONS</a></h2>
                  <div class="mt-4 text-black leading-9">
                    <a class="block no-underline hover:text-[#9FE870]"
                      href="/solution_sub_page/manufacturing.html">Manufacturing</a>
                    <a class="block no-underline hover:text-[#9FE870]"
                      href="/solution_sub_page/solution_media.html">Media</a>
                    <a class="block no-underline hover:text-[#9FE870]"
                      href="/solution_sub_page/logistics.html">Logistics</a>
                    <a class="block no-underline hover:text-[#9FE870]" href="#">Defence</a>
                    <a class="block no-underline hover:text-[#9FE870]"
                      href="/solution_sub_page/government.html">Government</a>
                  </div>
                </div>
                <div class="ml-[95px] w-[200px]">
                  <h2 class="text-black font-extrabold text-base"><a class="no-underline"
                      href="/platform_sub_page/collaborate.html">BY USE CASE</a></h2>
                  <div class="mt-4 text-black leading-9">
                    <a class="block no-underline hover:text-[#9FE870]" href="#">Demand Forecasting</a>
                    <a class="block no-underline hover:text-[#9FE870]" href="#">Inventory Optimisation</a>
                    <a class="block no-underline hover:text-[#9FE870]" href="#">Load Planning</a>
                    <a class="block no-underline hover:text-[#9FE870]" href="#">Workplace Safety</a>
                    <a class="block no-underline hover:text-[#9FE870]" href="#">Defect Detection</a>
                  </div>
                </div>
                <div class="pl-[32px] w-[300px]">
                  <div class="">
                    <h2 class="text-white text-xl font-bold"><a class="no-underline"
                        href="/platform_sub_page/ml_workflows.html">Unsure where to start?</a></h2>
                    <div class="mt-1 text-white leading-9 font-light">
                      <a class="block underline hover:text-[#9FE870]" href="#">AI Clinic - Our Diagnostic Centre</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="relative">
          <div class="dropdown relative inline-block cursor-pointer">
            <button
              class="text-[#BEC7D0] hover:text-white cursor-pointer hover:transition hover:duration-300 my-6">Solutions</button>
            <div
              class="dropdown-content absolute bg-[#fff] shadow z-1 rounded-lg w-[800px] mt-2 font-normal -left-[280px]">
              <div class="w-3 h-3 rotate-45 bg-white relative -top-[6px] left-[300px]"></div>
              <div class="flex p-3 w-full">
                <div class="mx-6 w-[44%]">
                  <h2 class="text-black font-extrabold text-sm">Unsure where to start?</h2>
                  <div class="mt-4">
                    <a class="text-black py-2 pr-4 block text-sm" href="#">AI Clinic - Our Diagnostic Centre</a>
                  </div>
                </div>
                <div class="mx-6 w-[28%]">
                  <h2 class="text-black font-extrabold text-sm">INDUSTRY SOLUTIONS</h2>
                  <div class="mt-4">
                    <a class="text-black py-2 pr-4 block no-underline hover:text-[#9FE870] text-sm"
                      href="#">Manufacturing</a>
                    <a class="text-black py-2 pr-4 block no-underline hover:text-[#9FE870] text-sm" href="#">Media</a>
                    <a class="text-black py-2 pr-4 block no-underline hover:text-[#9FE870] text-sm"
                      href="#">Logistics</a>
                    <a class="text-black py-2 pr-4 block no-underline hover:text-[#9FE870] text-sm" href="#">Defence</a>
                    <a class="text-black py-2 pr-4 block no-underline hover:text-[#9FE870] text-sm"
                      href="#">Government</a>
                  </div>
                </div>
                <div class="mx-6 w-[28%]">
                  <h2 class="text-black font-extrabold text-sm">ML WORKFLOWS</h2>
                  <div class="mt-4">
                    <a class="text-black py-2 pr-4 block no-underline hover:text-[#9FE870] text-sm" href="#">Demand
                      Forecasting</a>
                    <a class="text-black py-2 pr-4 block no-underline hover:text-[#9FE870] text-sm" href="#">Inventory
                      Optimisation</a>
                    <a class="text-black py-2 pr-4 block no-underline hover:text-[#9FE870] text-sm" href="#">Load
                      Planning</a>
                    <a class="text-black py-2 pr-4 block no-underline hover:text-[#9FE870] text-sm" href="#">Workplace
                      Safety</a>
                    <a class="text-black py-2 pr-4 block no-underline hover:text-[#9FE870] text-sm" href="#">Defect
                      Detection</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="relative">
          <div class="dropdown relative inline-block cursor-pointer">
            <button class="text-[#BEC7D0] hover:text-white cursor-pointer hover:transition hover:duration-300 my-6">
              <a href="" class="no-underline">Customers</a> </button>
            <div
              class="dropdown-content absolute bg-[#fff] shadow-2xl z-1 rounded-2xl w-[1024px] font-normal -left-[350px]">
              <div class="w-3 h-3 rotate-45 bg-white relative -top-[6px] left-[380px]"></div>
              <div class="relative flex justify-between mb-[50px] text-black px-[48px] pt-[38px]">
                <h3 class="font-extrabold ">FEATURED CUSTOMERS</h3>
                <div class="flex items-center justify-center">
                  <a class="no-underline font-semibold text-black" href="/customer.html">Read
                    more</a>
                  <i class="fa fa-angle-right ml-2 hover:text-[#9FE870]"></i>
                </div>
              </div>

              <div class="flex w-full px-[48px] pb-[38px]">
                <div class="w-1/3">
                  <div class="h-32">
                    <div class="h-[38px]">
                      <img class="w-24" src="/img/brother logo.png" alt="">
                    </div>
                    <p class="text-black">Brother launches virtual assistant with Sentient.io to
                      boost client and customer engagement</p>
                  </div>
                  <div class="h-32 mt-12">
                    <div class="h-[38px]">
                      <img class="w-28" src="/img/mci_logo 1.png" alt="">
                    </div>
                    <p class="text-black">MCI boosts operational efficiency with Sentient.io’s
                      Media Asset Management platform</p>
                  </div>

                </div>
                <div class="ml-10 w-1/3">
                  <div class="h-32">
                    <div class="h-[38px]">
                      <img class="w-24" src="/img/daido steel logo-01.png" alt="">
                    </div>
                    <p class="text-black">Daido Steel partners with Sentient.io to improve false
                      rejection rates by 10% through an AI Defect Detection System</p>
                  </div>
                  <div class="h-32 mt-12">
                    <div class="h-[38px]">
                      <img class="w-24" src="/img/mediacorp logo-01.png" alt="">
                    </div>
                    <p class="text-black">Mediacorp automate translation of television dramas
                      with Sentient.io and improve productivity by 1000%</p>
                  </div>
                </div>
                <div class="mx-10 w-1/3">
                  <div class="h-32">
                    <div class="h-[38px]">
                      <img class="w-24" src="/img/IHI_logo.png" alt="">
                    </div>
                    <p class="text-black">IHI realise Smart City Vision by monitoring traffic
                      with Sentient.io</p>
                  </div>
                  <div class="h-32 mt-12">
                    <div class="h-[38px]">
                      <img class="w-52" src="/img/ttap logo.png" alt="">
                    </div>
                    <p class="text-black">Toyota Tsusho partners with Sentient.io to achieve
                      supply chain efficiency using a virtual assistant</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="relative">
          <div class="dropdown relative inline-block cursor-pointer">
            <button
              class="text-[#BEC7D0] hover:text-white cursor-pointer hover:transition hover:duration-300 my-6">Partnerships</button>
            <div
              class="dropdown-content absolute bg-gradient-to-r from-white via-white via-75% to-[#2F343F] to-75% bg-no-repeat bg-cover shadow-2xl z-1 rounded-2xl w-[1100px] font-normal -left-[400px]">
              <div class="w-3 h-3 rotate-45 bg-white relative -top-[6px] left-[438px]"></div>
              <div class="flex px-[48px] pt-[32px] pb-[20px] w-full">
                <div class="w-[250px]">
                  <h2 class="text-black font-extrabold"><a class="no-underline"
                      href="/platform_sub_page/build_deploy.html">OUR PARTNERS</a></h2>
                  <div class="mt-4 text-black leading-9">
                    <a class="block no-underline hover:text-[#9FE870]" href="l">Technology Partners</a>
                    <a class="block no-underline hover:text-[#9FE870]" href="">Data Partners</a>
                    <a class="block no-underline hover:text-[#9FE870]" href="">Cloud Partners</a>
                  </div>
                </div>
                <div class="ml-[80px] w-[800px]">
                  <h2 class="text-black font-extrabold text-base"><a class="no-underline"
                      href="/platform_sub_page/collaborate.html">FEATURED PARTNERS</a></h2>
                  <div class="flex w-full">
                    <div class="w-[1/2] pt-[40px]">
                      <div class="h-[55px]">
                        <div class="h-[38px]">
                          <img class="w-24" src="/img/astar ARTC logo 1.png" alt="">
                        </div>
                        <p class="text-black">Rorem ipsum dolor sit amet</p>
                      </div>
                      <div class="h-32 mt-[72px]">
                        <div class="h-[38px]">
                          <img class="w-28" src="/img/HDB logo 1.png" alt="">
                        </div>
                        <p class="text-black">Rorem ipsum dolor sit amet</p>
                      </div>

                    </div>
                    <div class="ml-10 w-[1/2] pt-[40px]">
                      <div class="h-[55px]">
                        <div class="h-[38px]">
                          <img class="w-24" src="/img/staple 1.png" alt="">
                        </div>
                        <p class="text-black">Rorem ipsum dolor sit amet</p>
                      </div>
                      <div class="h-32 mt-[72px]">
                        <div class="h-[38px]">
                          <img class="w-24" src="/img/microsoft logo 1.png" alt="">
                        </div>
                        <p class="text-black">Rorem ipsum dolor sit amet</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pl-[100px] w-[430px]">
                  <div class="">
                    <h2 class="text-white text-xl font-bold"><a class="no-underline"
                        href="/platform_sub_page/ml_workflows.html">Sentient.io Partners</a></h2>
                    <div class="mt-4 text-white leading-6 font-light">
                      <a class="block no-underline hover:text-[#9FE870]" href="#">Join a global community of partners
                        and unlock unprecedented opportunities together</a>
                    </div>
                    <div class="text-white mt-[90px] flex items-center">
                      <a class="block no-underline hover:text-[#9FE870]" href="/partnerships_sup_page/become.html">Become
                        a Partner</a>
                    </div>
                    <div class="text-white mt-[12px] flex items-center">
                      <a class="block no-underline hover:text-[#9FE870]"
                        href="/partnerships_sup_page/technology.html">Find a Partner</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="relative">
          <div class="dropdown relative inline-block cursor-pointer">
            <button
              class="text-[#BEC7D0] hover:text-white cursor-pointer hover:transition hover:duration-300 my-6">Company</button>
            <div
              class="dropdown-content absolute bg-[#fff] shadow-2xl z-1 rounded-2xl w-[206px] font-normal -left-[60px]">
              <div class="w-3 h-3 rotate-45 bg-white relative -top-[6px] left-[88px]"></div>
              <div class="flex w-full p-[48px] pt-[35px]">
                <div class="w-[110px]">
                  <div class="leading-9">
                    <a class="text-black block no-underline hover:text-[#9FE870]" href="#">About
                      Us</a>
                    <a class="text-black block no-underline hover:text-[#9FE870]" href="#">Our
                      Team</a>
                    <a class="text-black block no-underline hover:text-[#9FE870]" href="#">Press
                      Releases</a>
                    <a class="text-black block no-underline hover:text-[#9FE870]" href="#">Investors</a>
                    <a class="text-black block no-underline hover:text-[#9FE870]" href="#">Careers</a>
                    <a class="text-black block no-underline hover:text-[#9FE870]" href="#">Contact
                      Us</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="relative">
          <div class="dropdown relative inline-block cursor-pointer">
            <button
              class="text-[#BEC7D0] hover:text-white cursor-pointer hover:transition hover:duration-300 my-6">Resources</button>
            <div class="dropdown-content absolute bg-[#fff] shadow z-1 rounded-2xl w-[250px] font-normal -left-[60px]">
              <div class="w-3 h-3 rotate-45 bg-white relative -top-[6px] left-[91px]"></div>
              <div class="flex p-[48px] pt-[35px] w-full">
                <div class="">
                  <a class="text-black py-2 pr-4 block no-underline hover:text-[#9FE870]" href="#">Quick Start
                    Guide</a>
                  <a class="text-black py-2 pr-4 block no-underline hover:text-[#9FE870]" href="#">Documentation</a>
                  <a class="text-black py-2 pr-4 block no-underline hover:text-[#9FE870]" href="#">Blog</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <!-- <div id="dropdown"
            class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-28 dark:bg-gray-700">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
              <li>
                <a href="#"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">English</a>
              </li>
              <li>
                <a href="#"
                  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Japanese</a>
              </li>
            </ul>
          </div> -->
      <!-- <a
            href="#"
            class="hidden p-3 px-6 pt-2 text-white bg-brightRed rounded-full baseline hover:bg-brightRedLight md:block"
            >Get Started</a
          > -->
    </div>
    <div class="flex lg:w-[40%] md:w-[50%] justify-end items-center">
      <nav class="w-auto flex gap-6 mx-4 items-center">
        <div class="hidden md:flex justify-end items-center gap-6">
          <!-- Dropdown menu for language-->
          <div class="dropdown relative inline-block cursor-pointer">
            <button class="text-white flex font-normal hover:transition hover:duration-300">ENG<svg
                class="hover:rotate-180 w-4 h-4 mt-1 ml-1 text-white" aria-hidden="true" fill="none"
                stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
              </svg></button>
            <div class="dropdown-content absolute bg-[#262A36] shadow z-1 rounded-lg w-18 mt-0 font-normal">
              <a class="text-white py-2 px-4 block no-underline hover:text-[#9FE870]" href="#">ENG</a>
              <a class="text-white py-2 px-4 block no-underline hover:text-[#9FE870]" href="#">JPN</a>
              <a class="text-white py-2 px-4 block no-underline hover:text-[#9FE870]" href="#">IND</a>
            </div>
          </div>
        </div>
      </nav>

      <!-- Button -->
      <a class="hidden md:flex mx-4 text-white hover:text-[#9FE870] font-normal" href="#">Login</a>
      <button
        class="hidden md:flex bg-[#9FE870] text-black-900 font-bold px-6 py-3 rounded-4xl w-[171px] mx-3 hover:bg-white hover:text-black hover:transition hover:duration-300">Request
        a
        Demo</button>
    </div>
    <!-- Hamburger Icon -->
    <button id="menu-btn" class="z-[200] block hamburger xl:hidden focus:outline-none mt-2 mx-1">
      <span id="hamburger_span" class="hamburger-top bg-white"></span>
      <span class="hamburger-middle bg-white"></span>
      <span id="hamburger_span_bottom" class="hamburger-bottom bg-white"></span>
    </button>


    <!-- Mobile Menu -->
    <nav id="menu"
      class="hidden z-[150] bg-[#ECF0F2] h-screen w-full top-0 left-0 right-0 absolute flex-col font-bold drop-shadow-md pt-24 text-black font-normal">
      <div class="cursor-pointer">
        <div class="px-[1.2rem] md:px-[1.8rem] flex items-center justify-between">
          <a class="block cursor-pointer text-[20px] font-medium" style="text-underline-offset: 8px;">Products</a>
          <button id="productButton" class="nav">
            <span class="navarrow"></span>
          </button>
        </div>
        <div id="productInfo" class="hidden-nav bg-white px-[1.2rem] md:px-[1.8rem] mb-[12px] mt-3">
          <div class="py-[36px]">
            <div>
              <p class="text-base text-black font-bold">BUILD & DEPLOY</p>
              <div class="mt-[24px] text-[14px]">
                <p class="mb-[15px]"><a href="#">Data Modeling</a></p>
                <p class="mb-[15px]"><a href="#">Model Optimisation</a></p>
                <p class="mb-[15px]"><a href="#">Integrate & Chain APIs</a></p>
                <p class="mb-[15px]"><a href="#">Measure ROI</a></p>
                <p class="mb-[15px]"><a href="#">Cost Reduction</a></p>
              </div>
            </div>
            <div class="pt-[20px]">
              <p class="text-base text-black font-bold">COLLABORATE</p>
              <div class="mt-[24px] text-[14px]">
                <p class="mb-[15px]"><a href="#">TeamSpaces</a></p>
              </div>
            </div>
            <div class="pt-[20px]">
              <p class="text-base text-black font-bold">ML WORKFLOWS</p>
              <div class="mt-[24px] text-[14px]">
                <p class="mb-[15px]"><a href="#">Multi-cloud Workflows</a></p>
                <p class="mb-[15px]"><a href="#">Edge Computing</a></p>
                <p class="mb-[15px]"><a href="#">Secure Deployments</a></p>
                <p class="mb-[15px]"><a href="#">Analytics</a></p>
              </div>
            </div>
            <div class="border-b-2 border-[#ECF0F2]"></div>
            <div class="pt-[30px]">
              <p class="text-base text-black font-bold">Our Microservices</p>
              <div class="mt-[24px] text-[14px]">
                <p class="mb-[15px]"><a href="#">Object Detection</a></p>
                <p class="mb-[15px]"><a href="#">Automatic Speech Recognition</a></p>
                <p class="mb-[15px]"><a href="#">Text-to-Speech</a></p>
              </div>
            </div>
            <div class="text-black mt-[50px] flex items-center text-[14px]">
              <a>View More</a>
              <i class="fa fa-angle-right ml-3 hover:text-[#9FE870]"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="cursor-pointer">
        <div class="px-[1.2rem] md:px-[1.8rem] flex items-center justify-between">
          <a class="block cursor-pointer text-[20px] font-medium" style="text-underline-offset: 8px;">Solutions</a>
          <button id="solutionsButton" class="nav">
            <span class="navarrow"></span>
          </button>
        </div>
        <div id="solutionsInfo" class="hidden-nav bg-white px-[1.2rem] md:px-[1.8rem] mb-[12px] mt-3">
          <div class="py-[36px]">
            <div>
              <p class="text-base text-black font-bold">INDUSTRY SOLUTIONS</p>
              <div class="mt-[24px] text-[14px]">
                <p class="mb-[15px]"><a href="#">Manufacturing</a></p>
                <p class="mb-[15px]"><a href="#">Media</a></p>
                <p class="mb-[15px]"><a href="#">Logistics</a></p>
                <p class="mb-[15px]"><a href="#">Defence</a></p>
                <p class="mb-[15px]"><a href="#">Government</a></p>
              </div>
            </div>
            <div class="pt-[20px]">
              <p class="text-base text-black font-bold">BY USE CASE</p>
              <div class="mt-[24px] text-[14px]">
                <p class="mb-[15px]"><a href="#">Demand Forecasting</a></p>
                <p class="mb-[15px]"><a href="#">Inventory Optimisation</a></p>
                <p class="mb-[15px]"><a href="#">Load Planning</a></p>
                <p class="mb-[15px]"><a href="#">Workplace Safety</a></p>
                <p class="mb-[15px]"><a href="#">Defect Detection</a></p>
              </div>
            </div>
            <div class="border-b-2 border-[#ECF0F2]"></div>
            <div class="pt-[30px]">
              <p class="text-base text-black font-bold">Unsure where to start?</p>
              <div class="mt-[24px] text-[14px]">
                <p class=""><a href="#">AI Clinic - Our Diagnostic Centre</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cursor-pointer">
        <div class="px-[1.2rem] md:px-[1.8rem] flex items-center justify-between">
          <a class="block cursor-pointer text-[20px] font-medium" style="text-underline-offset: 8px;">Customers</a>
          <button id="customersButton" class="nav">
            <span class="navarrow"></span>
          </button>
        </div>
        <div id="customersInfo" class="hidden-nav bg-white px-[1.2rem] md:px-[1.8rem] mb-[12px] mt-3">
          <div class="py-[36px]">
            <div>
              <p class="text-base text-black font-bold">FEATURED CUSTOMERS</p>
              <div class="mt-[24px] text-[14px]">
                <div class="h-[]">
                  <img class="w-[137px]" src="/img/brother logo.png" alt="">
                </div>
                <p class="mt-4"><a href="#">Brother launches virtual assistant with Sentient.io to boost client and
                    customer engagement</a></p>
              </div>
              <div class="mt-[40px] text-[14px]">
                <div class="h-[]">
                  <img class="w-[137px]" src="/img/daido steel logo.svg" alt="">
                </div>
                <p class="mt-4"><a href="#">Daido Steel partners with Sentient.io to improve false rejection rates by
                    10% through an AI Defect Detection System</a></p>
              </div>
              <div class="mt-[40px] text-[14px]">
                <div class="h-[]">
                  <img class="w-[137px]" src="/img/IHI_logo.png" alt="">
                </div>
                <p class="mt-4"><a href="#">IHI realise Smart City Vision by monitoring traffic with Sentient.io</a></p>
              </div>
              <div class="mt-[40px] text-[14px]">
                <div class="h-[]">
                  <img class="w-[137px]" src="/img/mci_logo 1.png" alt="">
                </div>
                <p class="mt-4"><a href="#">MCI boosts operational efficiency with Sentient.io’s Media Asset Management
                    platform</a></p>
              </div>
              <div class="mt-[40px] text-[14px]">
                <div class="h-[]">
                  <img class="w-[137px]" src="/img/mediacorp logo-01.png" alt="">
                </div>
                <p class="mt-4"><a href="#">Mediacorp automate translation of television dramas with Sentient.io and
                    improve productivity by 1000%</a></p>
              </div>
              <div class="mt-[40px] text-[14px]">
                <div class="h-[]">
                  <img class="w-[200px]" src="/img/ttap logo.png" alt="">
                </div>
                <p class="mt-4"><a href="#">Toyota Tsusho partners with Sentient.io to achieve supply chain efficiency
                    using a virtual assistant</a></p>
              </div>
            </div>
            <div class="text-black mt-[30px] flex items-center text-[14px]">
              <a>Read More</a>
              <i class="fa fa-angle-right ml-3 hover:text-[#9FE870]"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="cursor-pointer">
        <div class="px-[1.2rem] md:px-[1.8rem] flex items-center justify-between">
          <a class="block cursor-pointer text-[20px] font-medium" style="text-underline-offset: 8px;">Partnerships</a>
          <button id="partnershipsButton" class="nav">
            <span class="navarrow"></span>
          </button>
        </div>
        <div id="partnershipsInfo" class="hidden-nav bg-white px-[1.2rem] md:px-[1.8rem] mb-[12px] mt-3">
          <div class="py-[36px]">
            <div class="">
              <p class="text-base text-black font-bold">OUR PARTNERS</p>
              <div class="mt-[24px] text-[14px]">
                <p class="mb-[15px]"><a href="#">Technology Partners</a></p>
                <p class="mb-[15px]"><a href="#">Data Partners</a></p>
                <p class="mb-[15px]"><a href="#">Cloud Partners</a></p>
              </div>
            </div>
            <div class="pt-[20px]">
              <p class="text-base text-black font-bold">FEATURED PARTNERS</p>
              <div class="mt-[24px] text-[14px]">
                <div class="h-[]">
                  <img class="w-[137px]" src="/img/astar ARTC logo 1.png" alt="">
                </div>
                <p class="mt-4"><a href="#">XXX</a></p>
              </div>
              <div class="mt-[40px] text-[14px]">
                <div class="h-[]">
                  <img class="w-[137px]" src="/img/HDB logo 1.png" alt="">
                </div>
                <p class="mt-4"><a href="#">XXX</a></p>
              </div>
              <div class="mt-[40px] text-[14px]">
                <div class="h-[]">
                  <img class="w-[137px]" src="/img/microsoft logo 1.png" alt="">
                </div>
                <p class="mt-4"><a href="#">XXX</a></p>
              </div>
              <div class="mt-[40px] text-[14px]">
                <div class="h-[]">
                  <img class="w-[137px]" src="/img/staple 1.png" alt="">
                </div>
                <p class="mt-4"><a href="#">XXX</a></p>
              </div>
            </div>
            <div class="pt-[20px] border-b-2 border-[#ECF0F2]"></div>
            <div class="pt-[30px]">
              <p class="text-base text-black font-bold">Sentient.io Partners</p>
              <div class="mt-[24px] text-[14px]">
                <p class=""><a href="#">Join a global community of partners and unlock unprecedented opportunities
                    together</a></p>
              </div>
            </div>
            <div class="text-black mt-[35px] flex items-center text-[14px]">
              <a>Become a Partner</a>
            </div>
            <div class="text-black mt-[20px] flex items-center text-[14px]">
              <a>Find a Partner</a>
            </div>
          </div>
        </div>
      </div>
      <div class="cursor-pointer">
        <div class="px-[1.2rem] md:px-[1.8rem] flex items-center justify-between">
          <a class="block cursor-pointer text-[20px] font-medium" style="text-underline-offset: 8px;">Company</a>
          <button id="companyButton" class="nav">
            <span class="navarrow"></span>
          </button>
        </div>
        <div id="companyInfo" class="hidden-nav bg-white px-[1.2rem] md:px-[1.8rem] mb-[12px] mt-3">
          <div class="py-[36px]">
            <div>
              <div class="text-[14px] pl-1">
                <p class="mb-[15px]"><a href="#">About Us</a></p>
                <p class="mb-[15px]"><a href="#">Our Team</a></p>
                <p class="mb-[15px]"><a href="#">Press Releases</a></p>
                <p class="mb-[15px]"><a href="#">Investors</a></p>
                <p class="mb-[15px]"><a href="#">Careers</a></p>
                <p class=""><a href="#">Contact Us</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="cursor-pointer">
        <div class="px-[1.2rem] md:px-[1.8rem] flex items-center justify-between">
          <a class="block cursor-pointer text-[20px] font-medium" style="text-underline-offset: 8px;">Resources</a>
          <button id="resourcesButton" class="nav">
            <span class="navarrow"></span>
          </button>
        </div>
        <div id="resourcesInfo" class="hidden-nav bg-white px-[1.2rem] md:px-[1.8rem] mb-[12px] mt-3">
          <div class="py-[36px]">
            <div>
              <div class="text-[14px] pl-1">
                <p class="mb-[15px]"><a href="#">Quick Start Guide</a></p>
                <p class="mb-[15px]"><a href="#">Documentation</a></p>
                <p class=""><a href="#">Blog</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="#"
        class="px-[1.2rem] md:px-[1.8rem] block md:hidden cursor-pointer transition duration-300 mb-[24px] focus:outline-none focus:bg-[#262A36] transition duration-300 text-[20px] font-medium"
        style="text-underline-offset: 8px;">Login</a>
      <a href="#"
        class="px-[1.2rem] md:px-[1.8rem] block md:hidden cursor-pointer transition duration-300  focus:outline-none focus:bg-[#262A36] transition duration-300 text-[20px] font-medium"
        style="text-underline-offset: 8px;"><a class="no-underline" href="../company_sub_page/contactUs.html">Request a Demo</a>
      <!-- <div id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="flex" type="button"><img
            class="w-5 text-white" src="img/en.png" alt=""><svg class="w-4 h-4 mt-0 ml-1 text-white"
            aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
          </svg></div> -->
      <!-- Dropdown menu -->
      <!-- <div id="dropdown"
          class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-28 dark:bg-gray-700">
          <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
            <li>
              <a href="#"
                class="block text-white px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">English</a>
            </li>
            <li>
              <a href="#"
                class="block text-white px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Japanese</a>
            </li>
          </ul>
        </div> -->
      <!-- <a class="gap-8 text-white" href="#">Login</a> -->
      <!-- <button class="bg-[#9FE870] text-black-900 font-bold mx-5 px-5 py-2 rounded-3xl">Book Call</button> -->
    </nav>
  </header>